{% load static %}
{% load categories_header %}
{% load categories_sidebar %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-icons.woff' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-icons.woffw' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="{% static 'font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet">
    <!-- FONTS -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Quicksand" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Pacifico" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Righteous" />
    <link href="//db.onlinewebfonts.com/c/6d32b8e06f40fb7698cfb714b9e7975d?family=BillabongW00-Regular" rel="stylesheet"
        type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <!-- FONTS -->
</head>

<style>
    body {
        background: #EDEEF0;
    }
</style>

<body>
    <nav class="navbar" id="header">
        <ul class="row" id="nav_bar_block" style="padding-left: 12px;">
            <div class="col-md-2">
                <a href="{% url 'index' %}" class="row" style="padding-top: 2px;">
                    <svg width="24px" height="24px" viewBox="0 0 16 16" style="margin: 3px 5px 0 0;" class="bi bi-app"
                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M11 2H5a3 3 0 0 0-3 3v6a3 3 0 0 0 3 3h6a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3zM5 1a4 4 0 0 0-4 4v6a4 4 0 0 0 4 4h6a4 4 0 0 0 4-4V5a4 4 0 0 0-4-4H5z" />
                    </svg>
                    <li>AB</li>
                </a>
            </div>
            <div class="col-md-7 m0-" style="padding: 2px 0 0 5px;">
                <li>
                    <form action="{% url 'search' %}" method="GET">
                        <input name="search" id="NavSearch" placeholder="Search">
                    </form>
                </li>
            </div>
        </ul>
    </nav>
    <div class="row" id="block">
        <div class="col-md-2 p-0 m-0">
            <ul class="pl-3" id="sidebar">
                {% if user.is_authenticated %}
                <a href="{% url 'profile' %}">
                    <li class="row pl-3" id="lol">
                        <svg xmlns="http://www.w3.org/2000/svg" style="margin: 5px 11px 0 0;" width="15" height="15"
                            fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path
                                d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z" />
                            <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                            <path fill-rule="evenodd"
                                d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z" />
                        </svg>
                        <p>My page</p>
                    </li>
                </a>
                <a href="{% url 'index' %}">
                    <li class="row pl-3" id="lol">
                        <svg xmlns="http://www.w3.org/2000/svg" style="margin: 5px 11px 0 0;" width="15" height="15"
                            fill="currentColor" class="bi bi-calendar4" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v1h14V3a1 1 0 0 0-1-1H2zm13 3H1v9a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V5z" />
                        </svg>
                        <p>News</p>
                    </li>
                </a>
                <a href="{% url 'chat_preview' %}">
                    <li class="row pl-3" id="lol">
                        <svg xmlns="http://www.w3.org/2000/svg" style="margin: 5px 11px 0 0;" width="15" height="15"
                            fill="currentColor" class="bi bi-chat" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M2.678 11.894a1 1 0 0 1 .287.801 10.97 10.97 0 0 1-.398 2c1.395-.323 2.247-.697 2.634-.893a1 1 0 0 1 .71-.074A8.06 8.06 0 0 0 8 14c3.996 0 7-2.807 7-6 0-3.192-3.004-6-7-6S1 4.808 1 8c0 1.468.617 2.83 1.678 3.894zm-.493 3.905a21.682 21.682 0 0 1-.713.129c-.2.032-.352-.176-.273-.362a9.68 9.68 0 0 0 .244-.637l.003-.01c.248-.72.45-1.548.524-2.319C.743 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.52.263-1.639.742-3.468 1.105z" />
                        </svg>
                        <p>Messenger</p>
                    </li>
                </a>
                <a href="{% url 'sell' %}">
                    <li class="row pl-3" id="lol">
                        <svg xmlns="http://www.w3.org/2000/svg" style="margin: 5px 11px 0 0;" width="15" height="15"
                            fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M8 1a2.5 2.5 0 0 0-2.5 2.5V4h5v-.5A2.5 2.5 0 0 0 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5H2z" />
                        </svg>
                        <p>Sell</p>
                    </li>
                </a>
                
                {% else %}
                <form action="{% url 'signIn' %}" method="POST">
                    {% csrf_token %}
                    <p style="font-size: 13px; margin: 5px 0 3px 0;">Username</p>
                    <input type="text" class="login_input" id="widget" style="padding-left: 10px;">
                    <p style="font-size: 13px; margin: 15px 0 3px 0;">Password</p>
                    <input type="password" class="login_input" id="widget" style="padding-left: 10px;">
                    <button class="extra_button" style="margin-top: 15px;">
                        <p style="padding-top: 4px;">Log in</p>
                    </button>
                </form>
                <a href="{% url 'signIn' %}">
                    <button class="extra_button" style="margin-top: 10px; background: #4BB34B;">
                        <p style="padding-top: 4px;">Sign up</p>
                    </button>
                </a>
                {% endif %}
            </ul>
        </div>
        <div class="col-md-10 pr-0 m-0 mr-0" style="margin-left: 15px;">
            {% block content %}

            {% endblock %}
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="{% static 'bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
    <script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
    <script src="{% static 'showPassword.js' %}"></script>
    <script src="{% static 'bootstrap-icons.json' %}"></script>
    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.select2').select2();
        });
    </script>
</body>

</html>