{% extends 'apple/base.html' %}
{% load humanize %}

{% block title %}
{{category.title}}
{% endblock %}

{% block content %}
<div>
    <div>
        {% for product in products %}
        <div class="row">
            <div class="col-md-3" style="margin: 0;">
                {% if product.image.url != null %}
                <a href="{% url 'product_detail_url' product.slug %}">
                    <img style="width: 38px; height: 325px; margin: 20px 0 20px 0; border-radius: 4px; background: white; border: 1px solid rgb(238, 238, 238); object-fit: contain;"
                        src="{{product.image.url}}" alt="">
                </a>
                {% else %}
                <img style="height: 200px; width: 100%; object-fit: contain;"
                    src="https://res.cloudinary.com/practicaldev/image/fetch/s--bIcIUu5D--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://thepracticaldev.s3.amazonaws.com/i/t7u2rdii5u9n4zyqs2aa.jpg"
                    alt="">
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="margin: 0;">
                <div class="row">
                    <div class="col-md-1" style="margin-right: 15px;">
                        {% if product.author.profile.avatar.url != null %}
                        <a href="{% url 'profile_detail_url' product.author.username %}">
                            <p>
                                <img style="height: 46px; width: 46px; border-radius: 10px; object-fit: cover; margin: 0;"
                                    src="{{product.author.profile.avatar.url}}" alt="">
                            </p>
                        </a>
                        {% else %}
                        <a href="{% url 'profile_detail_url' product.author.username %}">
                            <p>
                                <i style="font-size: 24px; color: rgb(66, 66, 66);" class="fa fa-user-circle"></i>
                            </p>
                        </a>
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <p style="font-size: 14px; margin: 3px 232px 0 15px;">{{product.author.username}}</p>
                            <p style="font-size: 13px; margin: 0 0 0 15px; color: #8B8B8F;">{{product.category.title}}
                            </p>
                        </div>
                        <div class="col-md-1">
                            <button class="price"
                                style="height: 22px; width: 90px; border-radius: 60px; outline: none; cursor: default;">
                                <p
                                    style="font-weight: 700; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                                    ${{product.price}}
                                </p>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-md-12">
            <p class="text-center">
                <button class="price" style="height: 30px; width: 200px; border-radius: 60px; margin-top: 10px;">
                    Nothing published yet...
                </button>
            </p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}