{% for category in categories %}
<div class="col-md-12" style="padding: 7px; margin-top: 4px;">
    <a href="{{category.get_absoulte_url}}" style="{% if request.path == category.current_path %} background: #8289A7; {% endif %}
        font-size: 18px; margin-left: 17px; font-weight: 400; text-decoration: none;" id="apple">
        {{category.title}}
    </a>
</div>
{% endfor %}