{% extends 'apple/base.html' %}

{% block title %}
Categories
{% endblock %}

{% block content %}
<div class="col-md-12 bg-white" id="widget" style="width: 100%;">
    <div class="col-md-6" style="background: red; height: 100px;">
        {% for category in categories %}
        <a href="">
            {{category.title}}
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}