{% extends 'apple/base.html' %}

{% block title %}
Messenger
{% endblock %}

{% block content %}
<div class="row ml-0">
    <div class="col-md-8 p-0 bg-white" id="widget" style="min-height: 88.4vh;">
        <ul class="p-0" style="list-style-type: none;">
            <li class="row m-0 p-0" style="height: 50px; border-bottom: 1px solid #E7E8EC; padding: 0;">
                <div class="col-md-2 m-0" style="padding: 5px 0 0 10px;" id="back">
                    <a href="{% url 'chat_preview' %}" style="text-decoration: none; color: currentColor;">
                        <div class="row" style="margin: 9px 0 0 2px;">
                            <p style="color: #78818C; font-size: 14.5px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                    class="bi bi-caret-left" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M10 12.796L4.519 8 10 3.204v9.592zm-.659.753l-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753z" />
                                </svg>
                            </p>
                            <p
                                style="font-size: 15px; color: #78818C; padding-top: 1px; font-family: 'Google Sans', sans-serif;">
                                Back
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-md-7" style="padding: 15px 0 0 40px; height: 49px;">
                    <p class="text-center"
                        style="font-weight: 500; font-size: 15px; letter-spacing: .3px; font-family: 'Google Sans', sans-serif;">
                        {{chat.reciever.username}}
                    </p>
                </div>
                <div class="col-md-3 text-right" style="padding: 10px 15px 0 0;">
                    {% if chat.reciever.profile.avatar.url != null %}
                    <a href="{% url 'profile_detail_url' chat.reciever.username %}">
                        <img style="height: 30px; width: 30px; object-fit: cover; margin-left: 15px; border-radius: 100%;"
                            src="{{chat.reciever.profile.avatar.url}}" alt="">
                    </a>
                    {% else %}
                    <i class="fa fa-user-circle" style="font-size: 30px; margin-left: 15px;"></i>
                    {% endif %}
                </div>
            </li>
            <li class="bg-white" style="height: 72vh; overflow-y: scroll;">
                {% for message in chat.message_set.all %}
                <div class="col-md-12"
                    style="padding: 0 15px 15px 15px; {% if forloop.first %} padding-top: 15px; {% endif %}">
                    <div class="row m-0 p-0 {% if message.user == user %} justify-content-end {% endif %}">
                        {% if message.user == user %}
                        <!--...........................................................Me...........................................................-->
                        <div class="media m-0"
                            style="padding: 15px 5px 0 15px; min-width: 30%; min-width: 60%; max-width: 70%; background: #F0F2F5; border-radius: 4px;">

                            <div class="media-body" style="max-width: 98%; min-width: 80px; min-height: 10px;">
                                <div class="row m-0 p-0">
                                    <div class="col-md-9 m-0 p-0">
                                        <p class="text-left"
                                            style="margin: 0; font-weight: 400; letter-spacing: 0.3px; word-wrap: break-word; font-size: 13px; max-width: 100%; font-family: Arial, Helvetica, sans-serif;">
                                            {{message.text}}
                                        </p>
                                    </div>
                                    <div class="col-md-3 p-0 m-0">
                                        <div class="row m-0">
                                            <p
                                                style="font-size: 13px; padding: 2px 0 0 0; color: #B5B9C1; font-weight: 300; margin: 0 0 5px 0;">
                                                {{message.created|date:"H:m A"}}
                                            </p>
                                            <p>
                                                {% if message.viewed %}
                                                <svg style="margin-left: 1.3px;" xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                                                    fill="currentColor" class="bi bi-check2-all" viewBox="0 0 20 20">
                                                    <path
                                                        d="M12.354 4.354a.5.5 0 0 0-.708-.708L5 10.293 1.854 7.146a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0l7-7zm-4.208 7l-.896-.897.707-.707.543.543 6.646-6.647a.5.5 0 0 1 .708.708l-7 7a.5.5 0 0 1-.708 0z" />
                                                    <path
                                                        d="M5.354 7.146l.896.897-.707.707-.897-.896a.5.5 0 1 1 .708-.708z" />
                                                </svg>
                                                {% else %}
                                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                                                    fill="currentColor" class="bi bi-check2" viewBox="0 0 20 20">
                                                    <path
                                                        d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                                                </svg>
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--...........................................................end - Me...........................................................-->
                        {% else %}
                        <!--....................................................Him / Her...........................................................-->
                        <div class="media m-0"
                            style="padding: 15px; max-width: 70%; background: #F0F2F5; border-radius: 4px; width: 100%;">

                            {% if chat.reciever.profile.avatar.url != null %}
                            <a href="{% url 'profile_detail_url' chat.reciever.username %}">
                                <img class="align-self-top mr-3" id="avatar" style="height: 40px; width: 40px;"
                                    src="{{chat.reciever.profile.avatar.url}}">
                            </a>
                            {% else %}
                            <i class="fa fa-user-circle" style="font-size: 25px;"></i>
                            {% endif %}

                            <div class="media-body p-0" style="min-width: 10%; min-height: 10px;">
                                <div class="row m-0">
                                    <p class="m-0" style="color: #2A5885; font-weight: 500; font-size: 14px;">
                                        {{chat.reciever.username}}
                                    </p>
                                    <div class="m-0" style="padding-left: 15px;">
                                        <p
                                            style="font-size: 13px; padding: 2px 0 0 0; color: #B5B9C1; font-weight: 300; margin: 0 0 5px 0;">
                                            {{message.created|date:"H:m A"}}
                                        </p>
                                    </div>
                                </div>
                                <p class="text-left"
                                    style="margin: 0; font-weight: 400; letter-spacing: 0.3px; word-wrap: break-word; font-size: 13px; max-width: 100%; font-family: Arial, Helvetica, sans-serif;">
                                    {{message.text}}
                                </p>
                            </div>

                        </div>
                        <!--....................................................end - Him / Her...........................................................-->
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </li>
            <li class="bg-white" style="height: 45px; border: 1px solid #dbdbdb;
            border-style: solid none none none; border-top-left-radius: 0; border-top-right-radius: 0;">
                {% if user.is_authenticated %}
                <form action="{% url 'send_message' chat.id %}" method="POST">
                    {% csrf_token %}
                    <p class="text-center m-0">
                        <input required type="text" id="chat_textinput" name="text" placeholder="Write a message...">
                    </p>
                </form>
                {% endif %}
            </li>
        </ul>
    </div>
    <div class="col-md-3 bg-white p-0" id="widget" style="height: 80px; margin-left: 15px;">
        <ul class="p-0" style="list-style-type: none; margin-top: 10px;">
            <a href="{% url 'chat_preview' %}" style="text-decoration: none; color: currentColor;">
                <li id="lol_two">
                    <p style="font-size: 14px; color: #2E5B88;">All chats</p>
                </li>
            </a>
            <a href="{% url 'chat_preview' %}" style="text-decoration: none; color: currentColor;">
                <li id="lol_two">
                    <p style="font-size: 14px; color: #2E5B88;">Unread</p>
                </li>
            </a>
        </ul>
    </div>
</div>
{% endblock %}