{% extends 'apple/base.html' %}

{% block title %}
Messenger
{% endblock %}

{% block content %}
<div class="row ml-0">
    <div class="col-md-8 bg-white p-0" id="widget" style="min-height: 88vh;">
        <ul class="p-0" style="list-style-type: none;">
            <li>
                <input type="search" class="chat_search" placeholder="Search">
            </li>
            <li style="margin-top: 15px;">
                {% for chat in chat_preview %}
                <a href="{% url 'chat_detail_url' chat.id %}" style=" text-decoration: none;">
                    <!-- style="{% if request.path == chat.current_path %} background: #EFEFEF; {% endif %}" -->
                    <div class="row p-0 ml-0 mr-0" id="chat-bg">
                        <div class="col-md-1 pl-4 pt-2 mr-5 mt-1">
                            {% if chat.sender.profile.avatar.url != null %}
                            <img style="height: 55px; width: 55px; object-fit: cover; border-radius: 100%;"
                                src="{{chat.sender.profile.avatar.url}}" alt="">
                            {% else %}
                            <i class="fa fa-user-circle" style="font-size: 55px;"></i>
                            {% endif %}
                        </div>
                        <div class="col-md-9 p-0">
                            <div class="row mt-2">
                                <div class="col-md-10 mb-0">
                                    <p style="font-size: 16px; margin: 0 0 0 0; color: #2E5B88;">
                                        {{chat.sender.username}}</p>
                                </div>
                                <div class="col-md-2 p-0 mt-2 mb-0">
                                    <p class="text-right" style="font-size: 12px; font-weight: 500; color: #A7ADB4;">
                                        {{chat.last_message_date|date:"H:m A"}}</p>
                                </div>
                            </div>
                            <div class="row p-0">
                                <div class="col-md-12">
                                    <p style="font-size: 12px; margin-top: 0; color: #6F6F6F;">
                                        {{chat.last_message|slice:"0:60"}}...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

                {% endfor %}

                {% for chat in chat_outside %}
                <a href="{% url 'chat_detail_url' chat.id %}" style=" text-decoration: none;">
                    <!-- style="{% if request.path == chat.current_path %} background: #EFEFEF; {% endif %}" -->
                    <div class="row p-0 ml-0 mr-0" id="chat-bg">
                        <div class="col-md-1 pl-4 pt-2 mr-5 mt-1">
                            {% if chat.reciever.profile.avatar.url != null %}
                            <img style="height: 55px; width: 55px; object-fit: cover; border-radius: 100%;"
                                src="{{chat.reciever.profile.avatar.url}}" alt="">
                            {% else %}
                            <i class="fa fa-user-circle" style="font-size: 55px;"></i>
                            {% endif %}
                        </div>
                        <div class="col-md-9 p-0">
                            <div class="row mt-2">
                                <div class="col-md-10 mb-0">
                                    <p style="font-size: 16px; margin: 0 0 0 0; color: #2E5B88;">
                                        {{chat.reciever.username}}</p>
                                </div>
                                <div class="col-md-2 p-0 mt-2 mb-0">
                                    <p class="text-right" style="font-size: 12px; font-weight: 500; color: #A7ADB4;">
                                        {{chat.last_message_date|date:"H:m A"}}</p>
                                </div>
                            </div>
                            <div class="row p-0">
                                <div class="col-md-12">
                                    <p style="font-size: 12px; margin-top: 0; color: #6F6F6F;">
                                        {{chat.last_message|slice:"0:60"}}...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </li>
        </ul>
    </div>
    <div class="col-md-3 bg-white p-0" id="widget" style="height: 80px; margin-left: 15px;">
        <ul class="p-0" style="list-style-type: none; margin-top: 10px;">
            <a href="" style="text-decoration: none; color: currentColor;">
                <li id="lol_two">
                    <p style="font-size: 14px; color: #2E5B88;">All chats</p>
                </li>
            </a>
            <a href="" style="text-decoration: none; color: currentColor;">
                <li id="lol_two">
                    <p style="font-size: 14px; color: #2E5B88;">Unread</p>
                </li>
            </a>
        </ul>
    </div>
</div>

{% endblock %}