{% extends 'apple/base.html' %}
{% load humanize %}

{% block title %}
News
{% endblock %}

{% block content %}

<div class="col-md-12 pr-0">
    <div class="row">
        <div class="col-md-7 p-0">
            {% for product in products %}
            <div id="widget" class="bg-white"
                style="padding: 15px; {% if not forloop.first %} margin-top: 15px; {% endif %}">
                <div class="row m-0 p-0">
                    <a href="{% url 'profile_detail_url' product.author.username %}" id="link"
                        style="text-decoration: none;">
                        <img style="height: 50px; width: 50px;" id="avatar" src="{{product.author.profile.avatar.url}}">
                    </a>
                    <div class="col-md-10">
                        <a href="{% url 'profile_detail_url' product.author.username %}" style="text-decoration: none;">
                            <p class="m-0" style="font-size: 14px; font-weight: 500; color: #2E5B88;">
                                {{product.author.username}}
                            </p>
                        </a>
                        <p style="font-size: 13px; color: #969696; font-weight: 400;">
                            {{product.date|date:"F j"}}
                        </p>
                    </div>
                </div>
                <a href="{% url 'product_detail_url' product.slug %}">
                    <img style="width: 100%; border-radius: 4px; object-fit: contain;" src="{{product.image.url}}">
                </a>
                <ul style="list-style-type: none; padding: 0;">
                    <div class="row m-0">
                        <p style="font-size: 14px; font-weight: 500;">{{product.title}}</p>

                        <p style="font-size: 14px; color: #4BB34B; font-weight: 500; padding: 0 5px 0 5px;">
                            <span style="color: grey;">•</span>
                            ${{product.price}}
                        </p>
                    </div>
                    <li class="row m-0" style="font-size: 13px;">
                        <p style="padding-right: 5px; font-weight: 500;">Category:</p>
                        <p>{{product.category}}</p>
                    </li>
                    <li class="row m-0" style="font-size: 13px;">
                        <p style="padding-right: 5px; font-weight: 500;">Seller:</p>
                        <p>{{product.author.username}} • <span style="color: #2E5B88; font-weight: 500;">Verified</span>
                        </p>
                    </li>
                    <li>
                        <hr class="mt-0">
                        <p style="font-size: 14px; color: #a7acb5;">{{product.content}}</p>
                    </li>
                </ul>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-4 p-0" style="margin-left: 15px;">
            <div class="col-md-12 bg-white" id="widget" style="padding: 15px 0 15px 0;">
                <p style="font-size: 15px; padding-left: 15px;">Categories for you</p>
                <ul class="p-0" style="list-style-type: none; margin-top: 10px;">
                    <a href="" style="text-decoration: none; color: currentColor;">
                        <li id="lol_two">
                            <p style="font-size: 14px; color: #2E5B88;">Arcade</p>
                        </li>
                    </a>
                    <a href="" style="text-decoration: none; color: currentColor;">
                        <li id="lol_two">
                            <p style="font-size: 14px; color: #2E5B88;">Computer</p>
                        </li>
                    </a>
                    <a href="" style="text-decoration: none; color: currentColor;">
                        <li id="lol_two">
                            <p style="font-size: 14px; color: #2E5B88;">Phone</p>
                        </li>
                    </a>
                    <a href="" style="text-decoration: none; color: currentColor;">
                        <li id="lol_two">
                            <p style="font-size: 14px; color: #2E5B88;">TV</p>
                        </li>
                    </a>
                    <a href="" style="text-decoration: none; color: currentColor;">
                        <li id="lol_two">
                            <p style="font-size: 14px; color: #2E5B88;">Books</p>
                        </li>
                    </a>
                    <a href="" style="text-decoration: none; color: currentColor;">
                        <li id="lol_two">
                            <p style="font-size: 14px; color: #2E5B88;">Toys</p>
                        </li>
                    </a>
                    <a href="" style="text-decoration: none; color: currentColor;">
                        <li id="lol_two">
                            <p style="font-size: 14px; color: #2E5B88;">Kitchen</p>
                        </li>
                    </a>
                    <a href="" style="text-decoration: none; color: currentColor;">
                        <li id="lol_two">
                            <p style="font-size: 14px; color: #2E5B88;">Software</p>
                        </li>
                    </a>
                </ul>
            </div>
            <div class="bg-white" id="widget" style="height: 58px; margin-top: 15px;"></div>
        </div>
    </div>
</div>
{% endblock %}