{% extends 'apple/base.html' %}
{% load humanize %}
{% load categories_sidebar %}

{% block title %}
{{product.title}}
{% endblock %}

{% block content %}
<div class="col-md-12 m-0 p-0 bg-white" id="widget">
    <div class="row m-0">
        <div class="col-md-8 m-0" style="padding: 15px;">
            <img style="height: 100%; width: 100%; margin: 0; object-fit: contain;" src="{{product.image.url}}">
        </div>
        <div class="col-md-4 p-0 pb-0" style="border-left: 1px solid #E7E8EC; ">
            <ul class="p-0" style="list-style-type: none;">
                <li style="padding: 15px 15px 0 15px; border-bottom: 1px solid #E7E8EC;">
                    <p class="text-center" style="font-size: 17px;">{{product.title}}</p>
                </li>
                <li style="height: 75vh; overflow-y: scroll;">
                    {% for comment in product.comment_set.all %}
                    <div class="row ml-0 p-0" style=" margin-top: 15px; {% if forloop.first %} margin-top: 15px; {% endif %}">
                        <div class="col-md-2 mr-2">
                            <a href="{% url 'profile_detail_url' product.author.username %}" id="link">
                                <img style="height: 40px; width: 40px; object-fit: cover; border-radius: 100%;"
                                    src="{{comment.author.profile.avatar.url}}" alt="">
                            </a>
                        </div>
                        <div class="col-md-9">
                            <p style="font-size: 12px;  color: grey; font-weight: 500;">
                                <span style="color: #2E5B88; font-size: 15px;">{{comment.author.username}}</span>
                                {{comment.date|date:"F j"}}
                            </p>
                            <p
                                style="font-family: Arial, Helvetica, sans-serif; color: grey; word-wrap: break-word; font-size: 13px; font-weight: 400; margin: 0;">
                                {{comment.text}}
                            </p>
                        </div>
                    </div>
                    {% empty %}
                    <div class="col-md-12 text-center" style="margin-top: 80%;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor"
                            class="bi bi-chat-square-dots" viewBox="0 0 16 16">
                            <path
                                d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1h-2.5a2 2 0 0 0-1.6.8L8 14.333 6.1 11.8a2 2 0 0 0-1.6-.8H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                            <path
                                d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                        </svg>
                        <p style="font-size: 17px;">Be the first one!</p>
                    </div>
                    {% endfor %}
                </li>
                <li class="pb-0 mb-0" style="height: 45px; border: 1px solid #dbdbdb;
                    border-style: solid none none none;">
                    {% if user.is_authenticated %}
                    <form action="{% url 'comment' product.slug %}" method="POST">
                        {% csrf_token %}
                        <p class="text-center m-0">
                            <input required type="text" id="chat_textinput" name="text" placeholder="Comment..."
                                style="width: 80%;">
                        </p>
                    </form>
                    {% else %}
                    <div class="col-md-12 text-center" style="margin-top: 15px;">
                        <a href="{% url 'signIn' %}">
                            <button class="extra_button" style="width: 60px;">
                                <p style="padding-top: 4px;">Log in</p>
                            </button>
                        </a>
                        <a href="{% url 'signIn' %}">
                            <button class="extra_button" style="width: 70px; background: #4BB34B;">
                                <p style="padding-top: 4px;">Sign up</p>
                            </button>
                        </a>
                    </div>
                    {% endif %}
                </li>
            </ul>
        </div>
        <!-- <div class="col-md-4 p-0" style="border: 1px solid #E7E8EC; border-style: none none none solid;">
            <ul style="list-style-type: none; padding: 0;">
                <li style="padding: 15px 15px 0 15px; border-bottom: 1px solid #E7E8EC;">
                    <p class="text-center" style="font-size: 14px;">{{product.title}}</p>
                </li>
                <li>
                    {% for comment in product.comment_set.all %}
                    {% endfor %}
                    <div style="height: 55px; border: 1px solid #dbdbdb;
                    border-style: solid none none none;">
                        {% if user.is_authenticated %}
                        <form action="{% url 'comment' product.slug %}" method="POST">
                            {% csrf_token %}
                            <p class="text-center m-0">
                                <input required type="text" id="chat_textinput" name="text" placeholder="Comment..."
                                    style="width: 80%;">
                            </p>
                        </form>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </div> -->
    </div>
</div>
{% endblock %}