{% extends 'apple/base.html' %}

{% block title %}
Selling Page
{% endblock %}

{% block content %}
{% if form.errors %}
<div class="alert alert-danger">Jopa</div>
{% endif %}
<div class="row m-0" style="height: 100px;">
    <div class="col-md-7 bg-white" id="widget" style="padding: 15px;">
        <img src="{{product.image.url}}" style="width: 100%; height: 100%; object-fit: contain;" alt="">
    </div>
    <div class="col-md-4 bg-white" id="widget" style="margin-left: 15px; padding: 15px;">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <button class="extra_button" style="margin-top: 2px;">
                <p style="padding-top: 4px;">Create</p>
            </button>
        </form>
    </div>
</div>
{% endblock %}