{% extends 'apple/base.html' %}
{% load humanize %}

{% block title %}
{{user.username}}
{% endblock %}

{% block content %}
<div style="margin: 0 0 0 15px;">
    <div class="row">
        <div class="bg-white" id="widget" style="width: 230px;">
            <ul style="list-style-type: none; padding: 15px; padding-bottom: 0;">
                <li class="ml-0 pl-0">
                    <img style="height: 200px; width: 200px; border-radius: 4px; object-fit: cover;"
                        src="{{user.profile.avatar.url}}" alt="">
                </li>
            </ul>
        </div>
        <div class="col-md-8 bg-white" id="widget" style="margin-left: 15px; padding: 15px; width: 100%;">
            <div class="col-md-10 m-0 p-0">
                <p style="font-size: 25px; margin: 0;">{{user.username}}<br>
                </p>
            </div>
            <div class="row m-0 mt-1 mb-1">
                <form action="{% url 'chat_make' user.id %}" method="POST">
                    {% csrf_token %}
                    <button class="write_button" style="background: #E2E9EF; width: inherit; margin-right: 15px;">
                        <p style="padding-top: 4px; color: #6E7E91;">Write</p>
                    </button>
                </form>
                <button class="write_button" style="background: #E2E9EF; width: inherit;" data-toggle="modal"
                    data-target="#call">
                    <p style="padding-top: 4px; color: #6E7E91;">Call</p>
                </button>
            </div>
            <div class="col-md-12 p-0">
                <p style="font-size: 16px; font-weight: 400; color: grey; margin: 0; letter-spacing: 0.6px;">
                    {{user.profile.phone}}<br>
                </p>
            </div>
            <hr class="mt-2 mb-2">
            <div class="col-md-12 p-0">
                <p style="font-size: 15px; color: grey;">{{user.profile.bio}}<br>
                </p>
            </div>
        </div>
    </div>
    <div class="row p-0" style="margin-top: 15px;">
        <div class="bg-white" id="widget" style="width: 230px;">
            <ul style="list-style-type: none; padding: 15px; padding-bottom: 0;">
                <li>
                    <div class="edit_button" style="background: #E2E9EF;">
                        <p style="padding-top: 4px; color: #6E7E91;">Favorites</p>
                    </div>
                </li>
                {% for product in products %}
                <li class="ml-0 pl-0" style="{% if forloop.first %} margin-top: 15px; {% endif %}">
                    {% if product.image.url != null %}
                    <a href="{% url 'product_detail_url' product.slug %}">
                        <img class="m-0" style="width: 100%; border-radius: 4px; height: 325px; object-fit: contain;"
                            src="{{product.image.url}}">
                    </a>
                    {% else %}
                    <a href="{% url 'product_detail_url' product.slug %}">
                        <img class="m-0" style="height: 200px; border-radius: 4px; width: 100%; object-fit: contain;"
                            src="https://res.cloudinary.com/practicaldev/image/fetch/s--bIcIUu5D--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://thepracticaldev.s3.amazonaws.com/i/t7u2rdii5u9n4zyqs2aa.jpg">
                    </a>
                    {% endif %}
                </li>
                <ul style="list-style-type: none; padding: 0;">
                    <div class="row m-0">
                        <p style="font-size: 14px; font-weight: 500;">{{product.title}}</p>

                        <p style="font-size: 14px; color: #4BB34B; font-weight: 500; padding: 0 5px 0 5px;">
                            <span style="color: grey;">•</span>
                            ${{product.price}}
                        </p>
                    </div>
                    <li class="row m-0" style="font-size: 13px;">
                        <p style="padding-right: 5px; font-weight: 500;">Category:</p>
                        <p>{{product.category}}</p>
                    </li>
                    <li class="row m-0" style="font-size: 13px;">
                        <p style="padding-right: 5px; font-weight: 500;">Seller:</p>
                        <p>{{product.author.username}} • <span style="color: #2E5B88; font-weight: 500;">Verified</span>
                        </p>
                    </li>
                    <li>
                        <hr class="mt-0">
                        <p style="font-size: 14px; color: #a7acb5;">{{product.content|slice:"0:100"}}...</p>
                    </li>
                </ul>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-8 bg-white p-0" style="margin-left: 15px;" id="widget">
            <ul style="list-style-type: none; padding: 15px; padding-bottom: 0;">
                <li>
                    <div class="edit_button" style="background: #E2E9EF;">
                        <p style="padding-top: 4px; color: #6E7E91;">User products</p>
                    </div>
                </li>
                {% for product in products %}
                <li class="ml-0 pl-0" style="{% if forloop.first %} margin-top: 15px; {% endif %}">
                    {% if product.image.url != null %}
                    <a href="{% url 'product_detail_url' product.slug %}">
                        <img class="m-0" style="width: 100%; border-radius: 4px; height: 325px; object-fit: contain;"
                            src="{{product.image.url}}">
                    </a>
                    {% else %}
                    <a href="{% url 'product_detail_url' product.slug %}">
                        <img class="m-0" style="height: 200px; border-radius: 4px; width: 100%; object-fit: contain;"
                            src="https://res.cloudinary.com/practicaldev/image/fetch/s--bIcIUu5D--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://thepracticaldev.s3.amazonaws.com/i/t7u2rdii5u9n4zyqs2aa.jpg">
                    </a>
                    {% endif %}
                </li>
                <ul style="list-style-type: none; padding: 0;">
                    <div class="row m-0">
                        <p style="font-size: 14px; font-weight: 500;">{{product.title}}</p>

                        <p style="font-size: 14px; color: #4BB34B; font-weight: 500; padding: 0 5px 0 5px;">
                            <span style="color: grey;">•</span>
                            ${{product.price}}
                        </p>
                    </div>
                    <li class="row m-0" style="font-size: 13px;">
                        <p style="padding-right: 5px; font-weight: 500;">Category:</p>
                        <p>{{product.category}}</p>
                    </li>
                    <li class="row m-0" style="font-size: 13px;">
                        <p style="padding-right: 5px; font-weight: 500;">Seller:</p>
                        <p>{{product.author.username}} • <span style="color: #2E5B88; font-weight: 500;">Verified</span>
                        </p>
                    </li>
                    <li>
                        <hr class="mt-0">
                        <p style="font-size: 14px; color: #a7acb5;">{{product.content}}</p>
                    </li>
                </ul>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<div class="modal fade" id="call" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Here is the number to call</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row m-0">
                    <img style="height: 50px; width: 50px; border-radius: 100%; object-fit: cover;"
                        src="{{user.profile.avatar.url}}" alt="">
                    <div class="col-md-9 m-0 p-0">
                        <p style="font-size: 16px; margin: 0 0 0 15px;">{{user.username}}<br>
                        </p>
                        <p
                            style="font-size: 16px; font-weight: 400; color: grey; margin: 0 0 0 15px; letter-spacing: 0.6px;">
                            {{user.profile.phone}}<br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}