{% extends 'apple/base.html' %}

{% block title %}
{{user.username}}
{% endblock %}

{% block content %}
<div style="margin: 0 0 0 15px;">
    <div class="row">
        <div class="bg-white" id="widget" style="width: 230px;">
            <ul style="list-style-type: none; padding: 15px; padding-bottom: 0;">
                <li class="ml-0 pl-0">
                    {% if user.profile.avatar.url != null %}
                    <img style="height: 200px; width: 200px; border-radius: 4px; object-fit: cover;"
                        src="{{user.profile.avatar.url}}" alt="">
                    {% else %}
                    <p class="loading_layout" style="height: 200px; width: 200px;"></p>
                    {% endif %}
                </li>
                <li style="margin-top: 15px;">
                    <a href="{% url 'profile_edit' %}">
                        <button class="edit_button" style="background: #E2E9EF;">
                            <p style="padding-top: 4px; color: #6E7E91;">Edit</p>
                        </button>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-8 bg-white" id="widget" style="margin-left: 15px; padding: 15px; width: 100%;">
            <div class="row m-0">
                <div class="col-md-10 m-0 p-0">
                    <p style="font-size: 25px; margin: 0;">{{user.username}}<br>
                    </p>
                </div>
                <div class="col-md-2 p-0">
                    <a href="{% url 'signOut' %}">
                        <button class="extra_button" onclick='return confirm("Are you sure you want to sign out?");'>
                            <p style="padding-top: 4px;">Sign out</p>
                        </button>
                    </a>
                </div>
            </div>
            <div class="col-md-12 p-0">
                <p style="font-size: 16px; font-weight: 400; color: grey; margin: 0; letter-spacing: 0.6px;">
                    {{user.profile.phone}}<br>
                </p>
            </div>
            <hr class="mt-2 mb-2">
            <div class="col-md-12 p-0">
                <p style="font-size: 15px; color: grey;">{{user.profile.bio}}<br>
                </p>
            </div>
        </div>
    </div>
    <div class="row p-0" style="margin-top: 15px;">
        <div class="bg-white" id="widget" style="width: 230px;">
            <ul style="list-style-type: none; padding: 15px; padding-bottom: 0;">
                <li>
                    <div class="edit_button" style="background: #E2E9EF;">
                        <p style="padding-top: 4px; color: #6E7E91;">Favorites</p>
                    </div>
                </li>
                {% for product in products %}
                <li class="ml-0 pl-0" style="{% if forloop.first %} margin-top: 15px; {% endif %}">
                    {% if product.image.url != null %}
                    <a href="{% url 'product_detail_url' product.slug %}">
                        <img class="m-0" style="width: 100%; border-radius: 4px; height: 325px; object-fit: contain;"
                            src="{{product.image.url}}">
                    </a>
                    {% else %}
                    <a href="{% url 'product_detail_url' product.slug %}">
                        <img class="m-0" style="height: 200px; border-radius: 4px; width: 100%; object-fit: contain;"
                            src="https://res.cloudinary.com/practicaldev/image/fetch/s--bIcIUu5D--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://thepracticaldev.s3.amazonaws.com/i/t7u2rdii5u9n4zyqs2aa.jpg">
                    </a>
                    {% endif %}
                </li>
                <ul style="list-style-type: none; padding: 0;">
                    <div class="row m-0">
                        <p style="font-size: 14px; font-weight: 500;">{{product.title}}</p>

                        <p style="font-size: 14px; color: #4BB34B; font-weight: 500; padding: 0 5px 0 5px;">
                            <span style="color: grey;">•</span>
                            ${{product.price}}
                        </p>
                    </div>
                    <li class="row m-0" style="font-size: 13px;">
                        <p style="padding-right: 5px; font-weight: 500;">Category:</p>
                        <p>{{product.category}}</p>
                    </li>
                    <li class="row m-0" style="font-size: 13px;">
                        <p style="padding-right: 5px; font-weight: 500;">Seller:</p>
                        <p>{{product.author.username}} • <span style="color: #2E5B88; font-weight: 500;">Verified</span>
                        </p>
                    </li>
                    <li>
                        <hr class="mt-0">
                        <p style="font-size: 14px; color: #a7acb5;">{{product.content|slice:"0:100"}}...</p>
                    </li>
                </ul>
                {% empty %}
                <p class="loading_layout" style="width: 100%; height: 200px; margin-top: 15px;"></p>
                <div class="row m-0">
                    <p class="loading_layout" style="width: 50%;"></p>
                    <p class="loading_layout" style="width: 30%; margin-left: 15px;"></p>
                </div>
                <p class="loading_layout" style="width: 100%;"></p>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-8 bg-white p-0" style="margin-left: 15px;" id="widget">
            <ul style="list-style-type: none; padding: 15px; padding-bottom: 0;">
                <li>
                    <div class="edit_button" style="background: #E2E9EF;">
                        <p style="padding-top: 4px; color: #6E7E91;">My products</p>
                    </div>
                </li>
                {% for product in products %}
                <li class="ml-0 pl-0" style="{% if forloop.first %} margin-top: 15px; {% endif %}">
                    {% if product.image.url != null %}
                    <a href="{% url 'product_detail_url' product.slug %}">
                        <img class="m-0" style="width: 100%; border-radius: 4px; height: 325px; object-fit: contain;"
                            src="{{product.image.url}}">
                    </a>
                    {% else %}
                    <a href="{% url 'product_detail_url' product.slug %}">
                        <img class="m-0" style="height: 325px; border-radius: 4px; width: 100%; object-fit: contain;"
                            src="https://res.cloudinary.com/practicaldev/image/fetch/s--bIcIUu5D--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://thepracticaldev.s3.amazonaws.com/i/t7u2rdii5u9n4zyqs2aa.jpg">
                    </a>
                    {% endif %}
                </li>
                <ul style="list-style-type: none; padding: 0;">
                    <div class="row m-0">
                        <p style="font-size: 14px; font-weight: 500;">{{product.title}}</p>

                        <p style="font-size: 14px; color: #4BB34B; font-weight: 500; padding: 0 5px 0 5px;">
                            <span style="color: grey;">•</span>
                            ${{product.price}}
                        </p>
                    </div>
                    <li class="row m-0" style="font-size: 13px;">
                        <p style="padding-right: 5px; font-weight: 500;">Category:</p>
                        <p>{{product.category}}</p>
                    </li>
                    <li class="row m-0" style="font-size: 13px;">
                        <p style="padding-right: 5px; font-weight: 500;">Seller:</p>
                        <p>{{product.author.username}} • <span style="color: #2E5B88; font-weight: 500;">Verified</span>
                        </p>
                    </li>
                    <li>
                        <hr class="mt-0">
                        <p style="font-size: 14px; color: #a7acb5;">{{product.content}}</p>
                    </li>
                </ul>
                {% empty %}
                <p class="loading_layout" style="width: 100%; height: 325px; margin-top: 15px;"></p>
                <div class="row m-0">
                    <p class="loading_layout" style="width: 28%;"></p>
                    <p class="loading_layout" style="width: 69.3%; margin-left: 15px;"></p>
                </div>
                <div class="row m-0">
                    <p class="loading_layout" style="width: 55%;"></p>
                    <p class="loading_layout" style="width: 40%; margin-left: 15px;"></p>
                </div>
                <p class="loading_layout" style="width: 100%;"></p>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<div class="modal fade" id="edit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editing data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-6 bg-white" id="widget" style="margin-left: 15px;">
                    <form action="{% url 'profile_edit' %}" method="POST" enctype="multipart/form-data"
                        style="padding: 15px; border-radius: 3px;">
                        {% csrf_token %}
                        {{form.as_p}}
                        <button class="extra_button" style="width: 25%;">
                            <p style="padding-top: 4px;">Edit</p>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}