{% extends 'apple/base.html' %}
{% load humanize %}
{% block title %}
{{user.username}}
{% endblock %}

{% block content %}
<div class="row m-0">
    <div class="col-md-5 bg-white" id="widget" style="padding: 15px 15px 0 15px;">
        <div class="row m-0">
            <p class="avatar_layout"></p>
            <div class="col-md-10" style="margin-top: 6px;">
                <p class="loading_layout" style="width: 70%;"></p>
                <p class="loading_layout" style="width: 40%;"></p>
            </div>
        </div>
        <div class="row m-0">
            <p class="loading_layout" style="width: 46.8%; height: 70px;"></p>
            <p class="loading_layout" style="width: 48.4%; height: 70px; margin-left: 15px;"></p>
        </div>
        <div class="row m-0">
            <p class="loading_layout" style="width: 46.8%; height: 70px;"></p>
            <p class="loading_layout" style="width: 48.4%; height: 70px; margin-left: 15px;"></p>
        </div>
        <div class="row m-0 p-0">
            <p class="loading_layout" style="width: 46.8%; height: 40px;"></p>
            <p class="loading_layout" style="width: 48.4%; height: 40px; margin-left: 15px;"></p>
        </div>
    </div>
    <div class="col-md-6 bg-white" id="widget" style="margin-left: 15px;">
        <form action="{% url 'profile_edit' %}" method="POST" enctype="multipart/form-data"
        style="padding: 15px; border-radius: 3px;">
        {% csrf_token %}
        {{form.as_p}}
        <button class="extra_button" style="width: 25%;">
            <p style="padding-top: 4px;">Edit</p>
        </button>
    </form>
    </div>
</div>
{% endblock %}