{% extends 'apple/base.html' %}

{% block title %}
Search for "{{query}}"
{% endblock %}

{% block content %}
<div class="row m-0 p-0">
    <div class="col-md-7 p-0" style="padding: 15px;">
        {% for product in products %}
        <div id="widget" class="bg-white"
            style="padding: 15px; {% if not forloop.first %} margin-top: 15px; {% endif %}">
            <div class="row m-0 p-0">
                <a href="{% url 'profile_detail_url' product.author.username %}" id="link"
                    style="text-decoration: none;">
                    <img style="height: 50px; width: 50px;" id="avatar" src="{{product.author.profile.avatar.url}}">
                </a>
                <div class="col-md-10">
                    <a href="{% url 'profile_detail_url' product.author.username %}" style="text-decoration: none;">
                        <p class="m-0" style="font-size: 14px; font-weight: 500; color: #2E5B88;">
                            {{product.author.username}}
                        </p>
                    </a>
                    <p style="font-size: 13px; color: #969696; font-weight: 400;">
                        {{product.date|date:"F j"}}
                    </p>
                </div>
            </div>
            <a href="{% url 'product_detail_url' product.slug %}">
                <img style="width: 100%; border-radius: 4px; object-fit: contain;" src="{{product.image.url}}">
            </a>
            <ul style="list-style-type: none; padding: 0;">
                <div class="row m-0">
                    <p style="font-size: 14px; font-weight: 500;">{{product.title}}</p>

                    <p style="font-size: 14px; color: #4BB34B; font-weight: 500; padding: 0 5px 0 5px;">
                        <span style="color: grey;">•</span>
                        ${{product.price}}
                    </p>
                </div>
                <li class="row m-0" style="font-size: 13px;">
                    <p style="padding-right: 5px;">Category:</p>
                    <p>{{product.category}}</p>
                </li>
                <li class="row m-0" style="font-size: 13px;">
                    <p style="padding-right: 5px;">Seller:</p>
                    <p>{{product.author.username}} • <span style="color: #2E5B88; font-weight: 500;">Verified</span></p>
                </li>
                <li>
                    <p style="font-size: 13px;">{{product.content}}</p>
                </li>
            </ul>
        </div>
        {% empty %}
        <div id="widget" class="col-md-12 bg-white" style="height: inherit; padding: 15px;">
            <p class="text-left" style="font-size: 15.92px; font-weight: 600">
                It looks like there aren't many great matches for your search
            </p>
            <p class="text-left" style="font-size: 14px; font-weight: 300">
                <span style="font-weight: 600;">Tip:</span> Try using words that might appear on the page you’re looking
                for. For example, "Phone"
                instead of "Phone for my Dad"
            </p>
        </div>
        <div id="widget" class="col-md-12 bg-white" style="margin-top: 15px; padding: 15px 15px 0.1px 15px;">
            <div class="row m-0">
                <p class="avatar_layout"></p>
                <div class="col-md-10" style="margin-top: 5px;">
                    <p class="loading_layout" style="width: 70%;"></p>
                    <div class="row m-0">
                        <p class="loading_layout" style="width: 40%;"></p>
                        <p class="loading_layout" style="width: 20%; margin-left: 15px;"></p>
                    </div>
                </div>
            </div>
            <p class="loading_layout" style="height: 324px;"></p>
        </div>
        {% endfor %}
    </div>
    <div class="col-md-4">
        <div class="col-md-12 bg-white" id="widget" style="min-height: 58px; padding: 15px 15px 0 15px;">
            <p style="font-size: 15px; word-wrap: break-word;">Search for "{{query}}"</p>
        </div>
        <div class="col-md-12 bg-white" id="widget" style="padding: 15px 0 15px 0; margin-top: 15px;">
            <p style="font-size: 15px; padding-left: 15px;">Categories for you</p>
            <ul class="p-0" style="list-style-type: none; margin-top: 10px;">
                <a href="" style="text-decoration: none; color: currentColor;">
                    <li id="lol_two">
                        <p style="font-size: 14px; color: #2E5B88;">Arcade</p>
                    </li>
                </a>
                <a href="" style="text-decoration: none; color: currentColor;">
                    <li id="lol_two">
                        <p style="font-size: 14px; color: #2E5B88;">Computer</p>
                    </li>
                </a>
                <a href="" style="text-decoration: none; color: currentColor;">
                    <li id="lol_two">
                        <p style="font-size: 14px; color: #2E5B88;">Phone</p>
                    </li>
                </a>
                <a href="" style="text-decoration: none; color: currentColor;">
                    <li id="lol_two">
                        <p style="font-size: 14px; color: #2E5B88;">TV</p>
                    </li>
                </a>
                <a href="" style="text-decoration: none; color: currentColor;">
                    <li id="lol_two">
                        <p style="font-size: 14px; color: #2E5B88;">Books</p>
                    </li>
                </a>
                <a href="" style="text-decoration: none; color: currentColor;">
                    <li id="lol_two">
                        <p style="font-size: 14px; color: #2E5B88;">Toys</p>
                    </li>
                </a>
                <a href="" style="text-decoration: none; color: currentColor;">
                    <li id="lol_two">
                        <p style="font-size: 14px; color: #2E5B88;">Kitchen</p>
                    </li>
                </a>
                <a href="" style="text-decoration: none; color: currentColor;">
                    <li id="lol_two">
                        <p style="font-size: 14px; color: #2E5B88;">Software</p>
                    </li>
                </a>
            </ul>
        </div>
    </div>
</div>
{% endblock %}