{% extends 'apple/base.html' %}

{% block title %}
Selling Page
{% endblock %}

{% block content %}
<div>
    <div class="row p-0 m-0">
        <div class="col-md-12 p-0">
            <a href="{% url 'product_create' %}">
                <button class="extra_button" style="width: 18.5%; margin-bottom: 15px;">
                    <p
                        style="font-size: 13px; margin-top: 3px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                        Add product
                    </p>
                </button>
            </a>
        </div>
    </div>
    <table id="example" class="bg-white table table-striped table-bordered">
        <thead>
            <tr style="font-size: 14px;">
                <th>№</th>
                <th>Image</th>
                <th>Price</th>
                <th>Name & Content</th>
                <th>Categories</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td class="text-center" style="vertical-align: middle;">{{forloop.counter}}</td>
                <td class="bg-white">
                    {% if product.image.url != null %}
                    <img style="width: 300px; height: 200px; object-fit: contain" src="{{product.image.url}}" alt="">
                    {% else %}
                    <img style="height: 100%; width: 100px;object-fit:cover"
                        src="https://res.cloudinary.com/practicaldev/image/fetch/s--bIcIUu5D--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://thepracticaldev.s3.amazonaws.com/i/t7u2rdii5u9n4zyqs2aa.jpg"
                        alt="">
                    {% endif %}
                </td>
                <td class="text-center" style="vertical-align: middle;">${{product.price}}</td>
                <td style="font-size: 14px; font-weight: 500;">{{product.title}}<br>
                    <span
                        style="color: grey; font-size: 13px; font-weight: 400;">{{product.content|slice:"0:150"}}</span>
                </td>
                <td class="text-center" style="vertical-align: middle;">

                    {{product.category.title}}


                </td>
                <td class="text-center" style="vertical-align: middle;">
                    <a href="{% url 'product_edit' product.slug %}">
                        <button class="extra_button" style="height: 30px;">
                            <p style="padding-top: 4px;">Edit</p>
                        </button>
                    </a>

                    <form action="{% url 'product_delete' product.slug %}" method="POST">
                        {% csrf_token %}
                        <button class="delete_button"
                            onclick='return confirm("Are you sure you want to delete \" {{product.title}} \"?");'
                            style="height: 30px; margin-top: 2px; outline: none;">
                            <p style="padding-top: 4px;">Trash</p>
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}