{% extends 'apple/base.html' %}

{% block title %}
Sign up
{% endblock %}

{% block content %}
<div class="row m-0">
    <div class="col-md-6 bg-white" id="widget" style="margin-right: 30px; padding: 15px 15px 0 15px;">
        <div class="row m-0">
            <p class="avatar_layout"></p>
            <div class="col-md-10" style="margin-top: 6px;">
                <p class="loading_layout" style="width: 70%;"></p>
                <p class="loading_layout" style="width: 40%;"></p>
            </div>
        </div>
        <div class="row m-0">
            <p class="loading_layout" style="width: 48%; height: 100px;"></p>
            <p class="loading_layout" style="width: 48%; height: 100px; margin-left: 15px;"></p>
        </div>
        <div class="row m-0">
            <p class="loading_layout" style="width: 48%; height: 100px;"></p>
            <p class="loading_layout" style="width: 48%; height: 100px; margin-left: 15px;"></p>
        </div>
        <div class="row m-0 p-0">
            <p class="loading_layout" style="width: 48%; height: 50px;"></p>
            <p class="loading_layout" style="width: 48%; height: 50px; margin-left: 15px;"></p>
        </div>
    </div>
    <div class="col-md-5 bg-white" id="widget" style="height: inherit; padding: 25px;">
        <form action="{% url 'signUp' %}" method="POST" style="margin: 0px 25px;">
            {% csrf_token %}
            <p style="padding-top: 20px;">
                <input class="form-control" type="text" name="username" placeholder="Username"
                    style="margin-top: 10px;">
                <input class="form-control" type="password" name="password1" placeholder="Password"
                    style="margin-top: 10px;">
                <input class="form-control" type="password" name="password2" placeholder="Password Again"
                    style="margin-top: 10px;">
                <input class="form-control" type="email" name="email" placeholder="Email" style="margin-top: 10px;">
            </p>
            <button class="extra_button" style="background: #4BB34B;">
                <p style="padding-top: 2px; font-size: 15px;">Sign up</p>
            </button>
        </form>
    </div>
</div>
{% endblock %}