{% extends 'apple/base.html' %}

{% block title %}
Log in
{% endblock %}

{% block content %}
<div class="row m-0">
    <div class="col-md-6 bg-white" id="widget" style="margin: 0 30px 30px 0; padding: 15px;">
        <div class="row m-0">
            <p class="avatar_layout"></p>
            <div class="col-md-10" style="margin-top: 6px;">
                <p class="loading_layout" style="width: 70%;"></p>
                <p class="loading_layout" style="width: 40%;"></p>
            </div>
        </div>
        <div class="row ml-0 mt-4 mr-0">
            <p class="loading_layout" style="width: 15%;"></p>
            <p class="loading_layout" style="width: 50%; margin-left: 15px;"></p>
            <p class="loading_layout" style="width: 25%; margin-left: 15px;"></p>
        </div>
        <p class="loading_layout" style="width: 90%;"></p>
    </div>
    <div class="col-md-5 bg-white" id="widget" style="height: inherit; margin-right: 15px; padding: 25px;">
        <form action="{% url 'signIn' %}" method="POST">
            {% if message != null %}
            <div class="alert alert-danger">
                {{message}}
            </div>
            {% endif %}
            {% csrf_token %}
            <div>
                <input name="username" class="form-control" type="text" placeholder="Name">
                <input name="password" class="form-control" id="myInput" type="password" placeholder="Password"
                    style="margin-top: 15px;">
                <!-- <div class="row m-0">
                    <input name="password" class="form-control" id="myInput" type="password" placeholder="Password"
                        style="margin-top: 15px; width: 80%;">
                    <input type="checkbox" onclick="myFunction()">
                </div> -->
            </div>
            <div class="row ml-0 mt-3">
                <button class="extra_button" style="width: 100px; height: 40px;">
                    <p style="padding-top: 6px; font-size: 15px;">Log in</p>
                </button>
                <a href="" style="color: #2E5B88;">
                    <p style="padding: 10px 0 0 10px; font-size: 14px;">Forgot your password?</p>
                </a>
            </div>
        </form>
    </div>
</div>

<div class="row m-0">
    <div class="col-md-6 bg-white" id="widget" style="margin-right: 30px; padding: 15px 15px 0 15px;">
        <div class="row m-0">
            <p class="avatar_layout"></p>
            <div class="col-md-10" style="margin-top: 6px;">
                <p class="loading_layout" style="width: 70%;"></p>
                <p class="loading_layout" style="width: 40%;"></p>
            </div>
        </div>
        <div class="row m-0">
            <p class="loading_layout" style="width: 48%; height: 100px;"></p>
            <p class="loading_layout" style="width: 48%; height: 100px; margin-left: 15px;"></p>
        </div>
        <div class="row m-0">
            <p class="loading_layout" style="width: 48%; height: 100px;"></p>
            <p class="loading_layout" style="width: 48%; height: 100px; margin-left: 15px;"></p>
        </div>
        <div class="row m-0 p-0">
            <p class="loading_layout" style="width: 48%; height: 50px;"></p>
            <p class="loading_layout" style="width: 48%; height: 50px; margin-left: 15px;"></p>
        </div>
    </div>
    <div class="col-md-5 bg-white" id="widget" style="height: inherit; margin-top: 30px; padding: 25px;">
        <form action="{% url 'signUp' %}" method="POST">
            <p class="m-0 text-center" style="font-size: 28px;">
                First time here?
            </p>
            <p class="text-center" style="color: #656565; font-size: 14px;">
                Sign up for AB
            </p>
            {% csrf_token %}
            <p>
                <input class="form-control" type="text" name="username" placeholder="Username">
                <input class="form-control" type="password" name="password1" placeholder="Password"
                    style="margin-top: 15px;">
                <input class="form-control" type="email" name="email" placeholder="Email" style="margin-top: 15px;">
            </p>
            <button class="extra_button" style="height: 40px; background: #4BB34B;">
                <p style="padding-top: 6px; font-size: 15px;">Sign up</p>
            </button>
        </form>
    </div>
</div>
{% endblock %}