{% extends 'apple/base.html' %}

{% block title %}
Search for query: {{query}}
{% endblock %}

{% block content %}
<div>
    <div class="row">
        <div class="col-md-12">
            <form action="{% url 'sort' %}" method="GET">
            <select name="sort" onchange="{this.form.submit()}">
                <option {% if query == '-date' %} selected {% endif %} value="-date">Latest</option>
                <option {% if query == 'date' %} selected {% endif %} value="date">Old</option>
                <option {% if query == '-views' %} selected {% endif %} value="-views">Featured</option>
                <option {% if query == 'views' %} selected {% endif %} value="views">Shit</option>
            </select>
            </form>
        </div>
    </div>
</div>
{% endblock %}