
::-webkit-scrollbar {
    display: none;
}

.bi::before {
    display: inline-block;
    content: "";
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z' clip-rule='evenodd'/></svg>");
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
  }

#header{
    height: 54px;
    background: white;
    border-bottom: 1px solid #DDE2E7;
    position: sticky; 
    top: 0; 
    z-index: 2;
}

hr{
    margin: 0;
}

a{
    text-decoration: none;
    color: currentColor;
}

#block{
    width: 1007px;
    margin: 15px auto;
}

#avatar{
    border-radius: 100%; 
    object-fit: cover;
}

#nav_bar_block{
    width: 1007px;
    margin: 0 auto;
}

#nav_bar_block a{
    text-decoration: none;
    color: currentColor;
}

#sidebar a{
    text-decoration: none;
    color: currentColor;
}

.chat_search{
    margin-top: 2px;
    height: 48px;
    border: 1px solid #E7E8EC;
    border-style: none none solid none;
    padding: 0 0 0 34px;
    width: 100%;
    outline: none;
}

#back:hover{
    height: 49px;
    background: linear-gradient(to right, #F0F2F5 60px, white);
}

.chat_search::placeholder{
    color: #A3ABB5;
}

#lol p{
    padding-top: 4px;
    font-size: 13px;
}

#lol{
    height: 35px;
    margin-right: 0px;
    padding-top: 5px;
}

#lol:hover{
    background: #DCE1E6;
    border-radius: 4px;
}

.loading_layout{
    background: rgb(213, 213, 213);
    height: 10px;
    border-radius: 3px;
}

.avatar_layout{
    background: rgb(213, 213, 213);
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

#lol_two{
    padding: 5px 0 0 15px;
    height: 30px;
}

#lol_two:hover{
    background: #DCE1E6;
}

#nav_bar_block li{
    font-size: 20px;
    list-style-type: none;
}

#widget{
    border: none;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 1px 0 0 #D3D9DE;
}

.login_input{
    height: 30px;
    width: 100%;
    font-size: 13px;
    font-weight: 400;
}

#NavSearch{
    height: 34px;
    width: 230px;
    font-size: 14px;
    border-radius: 8px;
    margin: 0;
    border: 0;
    color: black;
    padding: 0 0 0 34px;
    background: #EDEEF0;
    border: transparent;
    outline: none;
}

#NavSearch::placeholder{
    font-size: 14px;
    font-weight: 400;
    color: #767F8B;
}

.extra_button{
    outline: none;
	color: #fff;
	background: #5181B8;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: .25px;
    width: 100%;
    height: 30px;
    text-align: center;
    align-items: center;
    vertical-align: middle;
}

.extra_button:hover{
    opacity: 0.85;
    outline: none;
}

.delete_button{
    outline: none;
	color: #fff;
	background: rgb(179, 14, 14);
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 500;
    outline: none;
    letter-spacing: .25px;
    width: 100%;
    height: 30px;
    text-align: center;
    align-items: center;
    vertical-align: middle;
}

.delete_button:hover{
    opacity: 0.85;
    outline: none;
}

.edit_button{
    outline: none;
	color: #fff;
	background: #5181B8;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: .25px;
    width: 100%;
    height: 30px;
    text-align: center;
    align-items: center;
    vertical-align: middle;
}

.edit_button:hover{
    background: #648EBF;
    outline: none;
}

.write_button{
    outline: none;
	color: #fff;
	background: #5181B8;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: .25px;
    width: 100%;
    height: 30px;
    text-align: center;
    align-items: center;
    vertical-align: middle;
}

.write_button:hover{
    opacity: 0.85;
    outline: none;
}

.side_bar a{
    text-decoration: none;
    color: currentColor;
}

.side_bar p{
    font-size: 13px;
}

#chat-bg:hover{
    background: #F7F8FA;
    /* border: 1px solid #E7E8EC;
    border-style: solid none solid none; */
}

#chat_textinput{
    height: 34px;
    padding: 0 0 0 20px;
    border: 1px solid #D6DBE0;
    font-size: 13px;
    width: 450px; 
    margin-top: 14px;
    outline: none;
    border-radius: 4px;
}

#chat_textinput::placeholder{
    font-size: 13px;
}

input[type="checkbox"]{
    outline: none;
    border-radius: 4px;
}

#link:hover{
    opacity: 0.80;
}

/* input[type="checkbox"]{
    position: relative;
    width: 25px;
    height: 15px;
    -webkit-appearance: none;
    background: #c6c6c6;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
}
input:checked[type="checkbox"]{
    background: #1a73e8;
}
input[type="checkbox"]:before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 20px;
    top: 0;
    left: 0;
    background: #fff;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    transition: 0.2s;
}
input:checked[type="checkbox"]:before{
    left: 10px;
} */

/*
#widget{
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 0 1px 0 0 #D3D9DE;
}

 ::-webkit-scrollbar {
    display: none;
}

#main
{
	display: flex;
	flex-wrap: wrap;
}

.rating > span:hover:before {
    content: "\2605";
    position: absolute;
}

.rating{
    unicode-bidi: bidi-override;
    direction: rtl;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
}

.rating{
    unicode-bidi: bidi-override;
    direction: rtl;
}
.rating > span{
    display: inline-block;
    position: relative;
    font-size: 20px;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
    color: #1a73e8;
}

#NavSearch{
    height: 32px;
    width: 230px;
    font-size: 14px;
    border-radius: 8px;
    margin: 0;
    border: 0;
    color: black;
    padding: 0 0 0 34px;
    background: #EDEEF0;
    border: transparent;
    outline: none;
}

#NavSearch::placeholder{
    font-size: 14px;
    font-weight: 400;
    color: #767F8B;
}

#sidebar
{
    min-height: 576px;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
    position: fixed;
    overflow-y: hidden;
    background: white;
    width: 351px;
    color: black;
}

#sidebar a{
	text-decoration: none;
	color: #dbdbdb;
}

#sidebar li{
    list-style-type: none;
}

#sidebarINhomepage a{
	text-decoration: none;
	color: #0D0D0D;
}

#sidebarINhomepage li{
    padding: 0;
    font-size: 12.5px;
    list-style-type: none;
}

#product-sidebar
{
    position: fixed;
    overflow-x: scroll;
    width: 600px;
    height: 1000px;
}

.avatar{
	width: 25%;
}

.avatar img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 100%;
}

.flex{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80vh;
}

.edit{
    outline: none;
	color: #fff;
	background: grey;
    border: 1px solid transparent;
	font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: .25px;
    min-width: 50px;
    text-align: center;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.edit:hover{
    background: rgb(112, 112, 112);
}

.trash{
    outline: none;
	color: #fff;
	background: #bd0000;
    border: 1px solid transparent;
	font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: .25px;
    min-width: 50px;
    text-align: center;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.trash:hover{
    background: #da0000;
}

.sign{
    outline: none;
	color: #fff;
	background: #1a73e8;
    border: 1px solid transparent;
	font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: .25px;
    min-width: 75px;
    text-align: center;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.sign:hover{
    background: #1780f1;
}

.signUp{
    outline: none;
	color: #fff;
	background: #1a73e8;
    border: 1px solid transparent;
	font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: .25px;
    min-width: 75px;
    text-align: center;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.signUp:hover{
    background: #1780f1;
}

.buy{
    outline: none;
	color: #fff;
	background: #1a73e8;
    border: 1px solid transparent;
	font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: .25px;
    min-width: 50px;
    text-align: center;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.buy:hover{
    background: #1780f1;
}

.login{
    outline: none;
	color: #fff;
	background: #5181B8;
    border: 1px solid transparent;
	font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: .25px;
    min-width: 70px;
    min-height: 30px;
    text-align: center;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.login:hover{
    background: #648EBF;
}

.price{
    outline: none;
	color: #1a73e8;
	background: white;
    border: 1px solid transparent;
	font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .25px;
    min-width: 50px;
    text-align: center;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.chat_created{
    outline: none;
	color: #d8d8d8;
	background: rgba(0,0,0,0.8);
    border: 1px solid transparent;
	font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: .25px;
    min-width: 50px;
    text-align: center;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.chat_created:hover{
    background: rgba(0,0,0,0.7);
}

.mcoming{
    outline: none;
	color: #fff;
	background: #1a73e8;
    border: 1px solid transparent;
	font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: .25px;
    min-width: 50px;
    text-align: center;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#chat-bg:hover{
    background: #EFEFEF;
}

.navsign{
    outline: none;
	color: #ffffff;
	background: #d8d8d8;
    border: 1px solid transparent;
	font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: .25px;
    min-width: 50px;
    text-align: center;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.navsign:hover{
    background: #b6b6b6;
}

.message{
    outline: none;
	color: #fff;
	background: #00fd75;
    border: 1px solid transparent;
	font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: .25px;
    min-width: 40px;
    text-align: center;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.message:hover{
    background: #00cc5f;
}

.send{
    outline: none;
	color: #fff;
	background: #1a73e8;
    border: 1px solid transparent;
	font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: .25px;
    min-width: 34px;
    text-align: center;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.send:hover{
    background: #1780f1;
}

.chat_sender{
    outline: none;
	color: black;
	background: #EFEFEF;
    border: 1px solid transparent;
	font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 10px;
    cursor: none;
    letter-spacing: .25px;
    text-align: center;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.chat_reciever{
    outline: none;
	color: black;
	background: transparent;
    border: 1px solid #EFEFEF;
	font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 10px;
    cursor: none;
    letter-spacing: .25px;
    text-align: center;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.comment{
    outline: none;
	color: grey;
	background: transparent;
    border: 1px solid transparent;
	font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: .25px;
    min-width: 50px;
    text-align: center;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.comment:hover{
    color: #1780f1;
}

.delete{
    outline: none;
    color: #fff;
    background: rgb(168, 168, 168);
    border: 1px solid transparent;
	font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: .25px;
    min-width: 73px;
    text-align: center;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.delete:hover{
    background: grey;
}

.favorite{
    outline: none;
	color: white;
	background: #00ff37;
    border: 1px solid transparent;
	font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: .25px;
    min-width: 50px;
    text-align: center;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.favorite:hover{
    background: #15dd41;
}

.sell{
    outline: none;
	color: #fff;
	background: #f0ca20;
    border: 1px solid transparent;
	font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: .25px;
    min-width: 50px;
    text-align: center;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.sell:hover{
    background: #ffde4e;
}

.see_details{
    outline: none;
    color: rgb(0, 0, 0);
	background: linear-gradient(to top, rgb(196, 160, 0), rgb(245, 192, 18));
    border: 1px solid rgb(196, 160, 0);
	font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .25px;
    line-height: 16px;
    margin-top: 10px;
    margin-right: 8px;
    min-width: 96px;
    padding: 9px 23px;
    text-align: center;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#searchb:hover{
    color: rgb(133, 133, 133);
}

#not-found{
	width: 130px;
	height: 130px;
	object-fit: fill;
	margin: 100px 0px 0px 640px;
}

#category{
    text-decoration: none;
}

#category:hover{
    text-decoration: underline;
    color: rgb(182, 67, 25);
}

#back:hover{
    background: #45556a;
}

#profile-data{
	padding: 10px;
}

input[type="checkbox"]{
    position: relative;
    width: 25px;
    height: 15px;
    -webkit-appearance: none;
    background: #c6c6c6;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
}
input:checked[type="checkbox"]{
    background: #1a73e8;
}
input[type="checkbox"]:before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 20px;
    top: 0;
    left: 0;
    background: #fff;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    transition: .5s;
}
input:checked[type="checkbox"]:before{
    left: 10px;
}

@media screen and (max-width: 970px){
	.index{
		display: none;
	}
}

#chat_textinput::placeholder{
    font-size: 15px;
    padding: 10px;
}

#reviewStars-input input:checked ~ label, #reviewStars-input label, #reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
    background: url('http://positivecrash.com/wp-content/uploads/ico-s71a7fdede6.png') no-repeat;
  }
  
  #reviewStars-input {
    
    fix floating problems
    overflow: hidden;
    *zoom: 1;
    end of fix floating problems
    
    position: relative;
    float: left;
  }
  
  #reviewStars-input input {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    
    width: 43px;
    height: 40px;
    
    position: absolute;
    top: 0;
    z-index: 0;
  }
  
  #reviewStars-input input:checked ~ label {
    background-position: 0 -40px;
    height: 40px;
    width: 43px;
  }
  
  #reviewStars-input label {
    background-position: 0 0;
    height: 40px;
    width: 43px;
    float: right;
    cursor: pointer;
    margin-right: 10px;
    
    position: relative;
    z-index: 1;
  }
  
  #reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
    background-position: 0 -40px;
    height: 40px;
    width: 43px;
  }
  
  #reviewStars-input #star-0 {
    left: 0px;
  }
  #reviewStars-input #star-1 {
    left: 53px;
  }
  #reviewStars-input #star-2 {
    left: 106px;
  }
  #reviewStars-input #star-3 {
    left: 159px;
  }
  #reviewStars-input #star-4 {
    left: 212px;
  }
  #reviewStars-input #star-5 {
    left: 265px;
  }

RATING */